<% provide(:title, "All Courses") %>
<h1>Courses</h1>

<h2><%= link_to "Create new course", new_supervisors_course_path %></h2>

<ul class="courses">
  <% @courses.each do |course| %>
    <li>
      <div><%= link_to course.name, supervisors_course_path(course) %></div>
      <div><%= course.description %></div>
      <div>
        <%= link_to "edit", edit_supervisors_course_path(course) %> | 
        <%= link_to "delete", supervisors_course_path(course), method: :delete, data: { confirm: "You sure?" } %>
      </div>
    </li>
  <% end %>
</ul>