<% provide(:title, @course.name) %>
<h1><%= @course.name %></h1>
<h2><%= @course.description %></h2>
<div class="center">
  <div class="span6 offset3 btn-group">
    <% @course.subjects.each do |subject| %>
      <% if subject == @subject %>
        <% type_button = "btn btn-large btn-primary" %>
      <% else %>
        <% type_button = "btn btn-large btn-default" %>          
      <% end %>
      <%= link_to subject.name,  edit_supervisors_course_course_subject_path(@course,
        subject), class: type_button%>
    <% end %>
    <div>
      <% @subject.tasks.each do |task| %>
        <h4><%= task.content %></h4>
      <% end %>
      <% if @course_subject.started? && @course_subject.finish == 0%>
        <h4><%= link_to 'Finish', supervisors_course_course_subject_path(@course, @subject,
            submit: "Finish", class: "btn btn-large btn-primary"), method: :put %></h4>
      <% elsif @course_subject.finish == 1 %>
            <h4>finished</h4>
      <% else %>
        
        <h4><%= link_to 'Start', supervisors_course_course_subject_path(@course, @subject,
          submit: "Start", class: "btn btn-large btn-primary"), method: :put %></h4>
        
      <% end %>

    </div>
  </div>
</div>