<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %></br>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>

<table class="table table-hover">
  <thead>
    <td><strong>Learning</strong></td>
    <td><strong>Status</strong></td>
  </thead>

  <% @trainee_courses.each do |trainee_course| %>
    <% course = trainee_course.course %>  
      <tr class="success">
        <td>
          <%= link_to course.name,
            user_trainee_course_path(current_user, course) %>
        </td>
        <td>finished</td>
      </tr>

    <% @user.user_subjects.each do |user_subject| %>
      <% subject = user_subject.subject %>
        <tr class="success">
          <td><%= subject.name %></td>
          <td>finished</td>
        </tr>
    <% end %>

    <% @user.user_tasks.each do |user_task| %>
      <% task = user_task.task %>
        <tr class="success">
          <td><%= task.name %></td>
          <td>finished</td>
        </tr>
    <% end %>
  <% end %>
</table>